<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Send</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}">
    </script>
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
</head>
<body>
    <div class="home">
         <a href="{{ url_for('submitLoading') }}"><h3>Back</h3></a>

        <hr/>
    </div>
    <div class="email-template">
<!--        <form name="emaildata" id="emaildata" action="" method="post" enctype="multipart/form-data" onsubmit="return validation()">-->
        <form name="emaildata" id="emaildata" action="" method="post" enctype="multipart/form-data">

        <h1> Mass Email Send Template</h1>

        <div class="content-template">
            <p>Add <strong>CSV</strong> files here: </p>
            <input type="text" name="file" placeholder="CSV file directory" required>
<!--            <input type="text" name="subject" placeholder="Subject" required>-->
            <p>Type <b>'{}'</b> for different values.</p>

            <!--Quill editor-->
            <div id="editor"></div>

            <textarea rows="20" cols="100" id="emailBody" style="display: none" name="content" placeholder="Enter content here" required></textarea>

            <button type="submit" class="paraphrase-btn" name="paraphrase-btn" onclick="openParaphrasePopup()">Paraphrase</button>
            {% if result %}
            <textarea rows="{{length}}" cols="10" class="text1" id="text1" name="text1" placeholder="No text are being paraphrase yet.">{%for i in result%}{{i+"\n"}}{%endfor%}</textarea>
            {% endif %}
<!--            <div class="button-container">-->
<!--                <div class="buttons">-->
<!--                    <input type="button" onclick="boldText('<b></b>')" value="Bold"/>-->
<!--                    <input type="button" onclick="italicText('<i></i>')" value="Italic"/>-->
<!--                    <input type="button" onclick="underlineText('<u></u>')" value="Underline"/>-->
<!--                    <input type="button" onclick="nextLine('<br>')" value="Next Line"/>-->
<!--                </div>-->
<!--            </div>-->
            <p>Number of emails per chunks: </p>
            <select name="num-chunks">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            <p>Time interval per chunks: </p>
            <select name="time-interval">
                <option value="0">No Delay</option>
                <option value="30">30 seconds</option>
                <option value="60">60 seconds</option>
                <option value="90">90 seconds</option>
            </select>


        </div>
            <div class="submit-form">
                <input type="submit" name="submitType" id="submit" onclick="validation(emaildata)" value="Submit"/>

            </div>
            <div class="save-form">
                <input type="submit" name="submitType" value="Save" onclick="openSavePopup()"/>
            </div>
<!--        <p id="result"></p>-->
        </form>

    </div>
    <div class="popup" id="popup">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/oqdmuxru.json"
            trigger="loop"
            delay="1500"
            state="morph-check-in-1"
            style="width:250px;height:250px"
            colors="primary:#00A97A">
        </lord-icon>
<!--        <ion-icon name="checkmark-circle-outline"></ion-icon>-->
        <h2>Success</h2>
        <p>Your emails will be sent accordingly.</p>
        <button type="button" onclick="closePopup()">OK</button>
    </div>
    <div class="savepopup" id="savepopup">
        <ion-icon name="cloud-done-outline"></ion-icon>
        <h2>Email Saved</h2>
        <p>Your emails will be saved at your "Drafts" section.</p>
    </div>
    <div class="errorpopup" id="errorpopup">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/ygvjgdmk.json"
            trigger="loop"
            delay="1500"
            style="width:250px;height:250px"
            colors="primary:red">
        </lord-icon>
        <h2>Error</h2>
        <p id="result"></p>
        <button type="button" onclick="closeErrorPopup()">OK</button>
    </div>
    <div class="newpopup" id="newpopup">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/lqxfrxad.json"
            trigger="loop"
            state="loop-queue"
            style="width:250px;height:250px"
            colors="primary:#00A97A">
        </lord-icon>
        <h2>Rephrasing the sentences...</h2>
    </div>
    <!-- Initialize Quill editor -->
    <script>

         const quill = new Quill('#editor', {
            theme: 'snow'
         });
         quill.on('text-change', function(delta, oldDelta, source) {
            //console.log(quill.container.firstChild.innerHTML)
            document.getElementById("emailBody").value = quill.container.firstChild.innerHTML;
<!--            document.getElementById("emailBody").value = document.getElementById("emailBody").value.replaceAll('<p>','')-->
            document.getElementById("emailBody").value = document.getElementById("emailBody").value.replaceAll('</p><br>','<br>')
            console.log(document.getElementById("emailBody").value)
         });
        var text1 = document.getElementById('text1');
        if (text1.value.trim() !== ''){
            textarea.style.display = 'block';
        }

    </script>
    </body>

</html>