<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/submitLoading.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <span></span><span></span><span></span><span></span><span></span>
  <i class="fa fa-envelope" style="font-size: 80px"></i>
  <div class="longfazers">
    <span></span><span></span><span></span><span></span>
  </div>
  <h1>Sending you back...</h1>
<!--    <script> window.location.replace('/save_value');</script>-->
</body>
</html>